<!DOCTYPE html >
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>My Spring Framework App</title>
</head>
<body>

    <h1>Feeding Time List</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Time</th>

        </tr>
<!--        for each book Thymeleaf will render these elements-->
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">123</td>
            <td th:text="${book.time}">Spring in Action</td>
<!--            <td th:text="${book.publisher.name}">Wrox</td>-->
        </tr>

    </table>

</body>
</html>